/*General*/
@font-face {
    font-family: Cormorant_Garamond-Light;
    src: url("Cormorant_Garamond/CormorantGaramond-Light.ttf");
}

@font-face {
    font-family: Cormorant_Garamond-Bold;
    src: url("Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

@font-face {
    font-family: Cormorant_Garamond-LightItalic;
    src: url("Cormorant_Garamond/CormorantGaramond-LightItalic.ttf");

}

body{
    margin: 0;
    background-color: #f6f5f5;
    font-family: Cormorant_Garamond-Light;
}


.head{
    background-image: url(../Bilder/landscape_5.jpg);
    background-attachment: fixed;
    background-position: auto; 
    background-size: cover;
    width: auto;
    height: 680px;
}

.fix{
    position: fixed;
}

nav{
    height: 7vh;
    display:flex;
    margin-left: 1050px;
    align-items: space-between;
}


.navlink{
    margin: 50px 5px;
    padding-block-end: 5px;
    cursor: pointer;
    color: black;
    font-size: 30px;
    margin-top: -105px;
}

#activ{
    font-weight: bold;
}

#world{
    inline-size: 200px;
    margin-left: 1600 px;
}

.topic{
    margin-left: 200px;
    margin-top: -155px; 
    font-size: 80px;
}

.topbox{
    background-color:  #f6f5f6;
    border: solid black;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: -70px;
}

.allabout{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.forward{
    text-align: center;
    font-size: xx-large;
}

.bottombox{
    background-color: #f6f5f6;
    border: solid black;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    height: 570px;
}

.ofthemonth{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 13px;
}

.food{
    margin-top: 50px;
}


#foodimg{
    inline-size: 300px;
    padding: 35px;
    margin-top: -60px;
    
}

.textfood{
    margin-top: -434px;
    margin-right: 30px;
    margin-left: 450px;
    padding-bottom: 115px;
    font-size: large;
    font-family: Como;
}

/*Seasonallity*/

.searchbox{
    align-items: center;
    background-color: rgb(214, 218, 221);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 25px;
    padding-top: 25px; 
    justify-content: space-between;
}

.search{
    padding-bottom: 50px;
}

.item{
    border:2px solid black;
    border-radius: 4px;
    display:inline-flex;
    justify-content: center;
    font-size: large;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.label{
    padding-left: 120px;
    font-size: large;
    font-weight: bold;
}

.button{
    border: 2px solid black; 
    border-radius: 4px;
    display:inline-flex;
    margin-left: 180px;
    font-size: large;
}

.button:active{
    position: relative;
    top: 1px;
}

.foodname{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    list-style-type:none;
    flex-wrap: wrap;
    padding-bottom: 10px;
    height: 400px; 
    justify-content: space-around;
}



.letter{
    font-weight: bold;
    color: black;
}

.foodname1{
    color:black;
    text-decoration: none;
}

/*Purchase*/


.labelp{
    padding-left: 55px;
    font-size: large;
    font-weight: bold;
}

.buttonp{

    border: 2px solid black;
    border-radius: 4px;
    display:inline-flex;
    margin-left: 45px;
    font-size: large;   
}

/*contact*/

#foodimgc{
    inline-size: 300px;
    padding-left: 25px;
    margin-top: -25px ;

}

.contactc{
    padding-left: 400px;
    margin-top: -440px;
    margin-right: 500px;
}

.sub{
    align-content: center;
    padding-top: 100px;
    padding-left: 400px;
}

.labelc{
    padding-left: 120px;
    font-size: large;
    font-weight: bold;
    align-items: stretch;

}

.labelcm{
    font-size: large;
    font-weight: bold;
    align-items: stretch;
    padding-left: 120px;
    height: 200px;
}

.labelct{
    padding-left: 120px;
    font-size: large;
    font-weight: bold;
    align-items: stretch;
    margin-right: 34px;
}

textarea { 
    resize: none;
    overflow: auto;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 114px;
    margin-top: 30px; 
}



#adress{
    margin-top: -350px;
    margin-left: 1450px;
    padding-right: 100px;
    font-size: large;
    font-weight: bold;

}

.buttonc{

    border: 2px solid black;
    border-radius: 4px;
    display:inline-flex;
    margin-left: 45px;
    font-size: large;   
}

.namedetail{
    height: 70px;
}

.messagec{
    height:70px; 
}

.subc{
    margin-top: 20px;
    margin-left: 355px;
}
